@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to right, #0891b2, #64748b); /* Match gradient colors */
    /* border-radius: 100vw; Fully rounded edges */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #38bdf8, #94a3b8); /* Lighter gradient colors */
    /* border-radius: 100vw; Fully rounded edges */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #7dd3fc, #cbd5e1); /* Even lighter on hover */
}
